body {
  background-color: #EAF6F6;
}

hr {
  background-color: #EAF6F6;

  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: Lightgray;
  width: 5%;
}
